<div class="row date-picker">
    <div class="col-xs-3"> {% url 'expenses:daily' year=previous_day|date:'Y' month=previous_day|date:'m' day=previous_day|date:'d' as href %}
        {% include 'components/arrow.html' with direction='left' href=href %}
    </div>
    <div class="col-xs-6">
        <input class="form-control" type="date" value="{{ day|date:'Y-m-d' }}"/>
    </div>
    <div class="col-xs-3"> {% url 'expenses:daily' year=next_day|date:'Y' month=next_day|date:'m' day=next_day|date:'d' as href %}
        {% include 'components/arrow.html' with direction='right' href=href %}
    </div>
</div>