<table class="table expense-list"> {% load i18n budget_tags %}
    <thead>
        <tr>
            <th>Description</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
    {% for expense in expense_list %}
        <tr>
            <td>{{ expense.description }}</td>
            <td>{{ expense.amount|currency }}</td>
        </tr>
    {% endfor %}
        <tr class="expense-sum">
            <td>{% trans 'Total' %}:</td>
            <td>{{ sum_amount|currency }}</td>
        </tr>
        <tr>
            <td colspan="2"> {% url 'expenses:add' as add %}
                <a class="btn btn-default add-btn" href="{{ add }}">
                    <span>{% trans 'Add' %}</span>
                </a>
            </td>
        </tr>
    </tbody>
</table>