{% url 'add' as action %}
<form action="{{ action }}" method="POST"> {% csrf_token %}
    <ul>
    {% for field in form %}
        <li class="item-content{% if field.errors %} error{% endif %}">
            <div class="item-inner">
                <div class="item-title label">{{ field.label }}</div>
                <div class="item-input">{{ field }}</div>
            </div>
        </li>
        {% for error in field.errors %}
            <li class="item-content error">
                <div class="item-inner">
                    <div class="item-title">{{ error }}</div>
                </div>
            </li>
        {% endfor %}
    {% endfor %}
    </ul>
</form>