<!DOCTYPE html> {% load compressed static %} {% url 'expenses' as expenses %}
<html data-expenses-url="{{ expenses }}">
    <head>
        <title>Budget Butler</title>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="Budget Butler">

        {% compressed_css 'style' %}
    </head>
    <body>
        <div id="container" class="container-fluid">
            <div class="row">
                <div class="col-xs-12" id="content"></div>
            </div>
        </div>

        {% compressed_js 'script' %}
    </body>
</html>